<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>GIDClientID</key>
    <string>206309069393-pj0h844n7c3g81gf0kfi37fms5sgulc3.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
        	<array>
        		<dict>
        			<key>CFBundleTypeRole</key>
        			<string>Editor</string>
        			<key>CFBundleURLSchemes</key>
        			<array>
        				<string>com.googleusercontent.apps.206309069393-pj0h844n7c3g81gf0kfi37fms5sgulc3</string>
        				<string>fb1049246573988064</string>
        			</array>
        		</dict>
        	</array>
    <key>FacebookAppID</key>
    <string>1049246573988064</string>
    <key>FacebookClientToken</key>
    <string>59990a4e391b000656d30056cab8d66d</string>
    <key>FacebookDisplayName</key>
    <string>layerbase</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>fbapi</string>
      <string>fb-messenger-share-api</string>
    </array>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
