Package: layerbase
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Bishavjeet Singh <bishavjeet.digisoft@gmail.com>
Description: Layer-based image editor built with Flutter
 A high-resolution, layer-based image editor with export, stickers, and drawing support.
